<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/static/style.css">
        <meta charset="utf-8">
        {% block head %}<title>Bliss-Moore</title>{% endblock %}
    </head>
    <body>
        <b> BLISS MOORE </b>
        <br>
        <a href="news">Новости</a>
        <a href="cats">Кошки</a>
        <a href="gallery">Галерея</a>
        <a href="articles">Статьи</a>
        <a href="contacts">Контакты</a>
        <br>
        {% block body %}{% endblock %}
    </body>
</html>